# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

# Data and Models (Excluded to keep repo light)
0_Raw_Data/
Datasets/
3_Evaluation/Logs/
3_Evaluation/Saved/
log/
log_tensorboard/
saved/

# Experiment and HPO results
*.result
*.xlsx
*.csv

# Research Materials
Materials/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
